body{
    background-color: #441e13;
}
div{
    outline:1px solid red;
}


.container{
    width:920px;
    margin-left:auto;
    margin-right:auto;
    overflow: hidden;
}
.logoarea{
    width:100%;
}
.logo{
    width:205px;
    color:white;
    font-size:2.5rem;
    font-weight: bold;
    float:left;
}
.slogan{
    width:380px;
    float:left;
    color:#a37b71;
    font-size:0.9rem
}

.aboutInfo {
    background-color: green;
    padding: 20px;
    margin-top: 20px;
    width: 920px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}
.paperPlane {
    width: 300px;
    float: left;
}
.planeText {
    width: 550px;
    float: left;
}



