div{
    outline:1px solid lime;
}
/*
body{
    background-color: red;
}*/
.container{
    width:920px;
    margin-left: auto;
    margin-right: auto;
    
}
.header{
    background-color:darkblue;
    height:200px;
    width:100%;
}
.bluebox{
    background-color: darkblue;
    height: 200px;
    width: 500px;
    
}
.subcontent{
    background-color: green;
    height:300px;
    width:920px;
}
.content{
    background-color: red;
    height:430px;
    width:100%;
}
.yellowbox{
    height: 100px;
    width: 100px;
    background-color:yellow;
    float: left;
    margin-top: 50px;
    margin-left: 100px;
}
.yellowbox2{
    height: 100px;
    width: 250px;
    background-color: yellow;
    float: left;
    margin-top:700;
    margin-left: 100px
}